{% extends "auctions/layout.html" %}

{% block title %}
    {{ listing.title }}
{% endblock %}

{% block body %}
    {% if listing.is_active %} 

    {% else %}
        <h6>Item sold</h6>
    {% endif %}
    <div class="title-listing-div"><h6>{{ listing.title }}</h6></div>
    <div class="image-listing-div">
        <img src="{{ listing.image }}" alt="Listing Image" height="300">
    </div>
    
    <div>
        {% if listing.category %}
        <div class="category-listing-div"><h5>{{ listing.category }}</h5></div>
        {% endif %}
        <div class="description-listing-div">{{ listing.description }}</div>
        {% if listing.current_bid %}
            <div class="bid_listing-div"> Current bid: £{{ listing.current_bid|floatformat:2 }}</div>
        {% else %}
            <div class="bid-listing-div">Starting bid: £{{ listing.starting_bid|floatformat:2 }}</div>
        {% endif %}

        {% if listing.is_active %}
            {% if user.is_authenticated %}
                {% if listing.highest_bidder.username == user.username %}
                    <h5>You are the highest bidder</h5>
                {% endif %}
                {% if listing.user.username == user.username %}
                    <form action="{% url 'sales' %}" method="POST"> 
                        {% csrf_token %}
                        <input type="hidden" name="price" value="{{ listing.current_bid }}">
                        <input type="hidden" name="listing_pk" value="{{ listing.pk }}">
                        <button type="submit">End auction</button>
                    </form>
                {% endif %}
            {% endif %}
        </div>
            <div>
            <form action="{% url 'watchlist' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="action" value="add"> 
                <input type="hidden" name="listing_pk" value="{{ listing.pk }}">
                <button type="submit">Add to Watchlist</button>
            </form>
            
            
            <form action="{% url 'make_bid' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="listing_pk" value="{{ listing.pk }}">
                {{ form.bid_amount }}
                {% if form.bid_amount.errors %}
                    <div class="error-msg">
                        {{ form.bid_amount.errors }}
                    </div>
                    
                {% endif %}
                <button type="submit">Place Bid</button>
            </form>
        {% endif %}    
            
    </div>

{% endblock %}