form {
    margin: 50px
}

link:hover {
    color: yellow 
}

.link-container {
    text-align: right;
}

.link {
    margin-left: 10px;
} 

.form-container {
    margin: 0 auto; 
    text-align: center; 
}

.my-form {
    width: 100%;
}

.my-form input[type="text"]{
    display: block;
    width: 600px;
    margin: 0 auto 10px auto;
    /* margin-bottom: 10px;  */
    padding: 8px; 
    box-sizing: border-box;
    border-radius: 40px;
    
}

.my-form input[type="submit"]{
    width: 120px;
    padding: 2px;
    font-size: 13px;
    background-color: rgb(245, 244, 244);
    border-radius: 5px;
    cursor: pointer;

}

.logo {
    margin: 0 auto 10px auto;
    width: 275px;
    height: auto; 

}

a {
    color: black;
    text-decoration: none;
} 

a:hover {
    text-decoration: underline;
} 

.advanced-title {
    color: red; 
    font: arial;
} 

.advanced-form input[type="text"]{
    margin-bottom: 15px;
} 

.advanced-form input[type="submit"]{
    margin-top: 15px;
    color: white;
    background-color: rgb(77, 77, 202); 
}

.logo-small{
    margin: left;
    width: 80px;
    height: auto;
}